body {
    background-color: #333333;
}

.card {
    padding: 2px;
    width: 5em;
    height: 7em;
    border-style: solid;
    border-color: red;
    box-shadow: 10px 10px 15px silver;
    border-radius: 5px;
}

.value_top {
    float: left;
}

.color_top {
    float: left;
}

.score {
    color: white;
    float: left;
    align-self: center;
    align-content: center;
    margin-top: 100px;
}

.points {
    color: white;
    float: right;
    align-self: center;
    align-content: center;
    margin-top: 100px;
}